* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff
}
li {
    list-style: none;
}
a {
    text-decoration: none;

}
img {
    display: block;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
    background: #000;
}
.neonText {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
    font-size: 1.2rem;
}

.neonTextBlue {
    text-shadow: 
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgb(13, 0, 255),
    0 0 80px rgb(13, 0, 255),
    0 0 90px rgb(13, 0, 255),
    0 0 100px rgb(13, 0, 255),
    0 0 150px rgb(13, 0, 255);;
    font-size: 1.2rem;
}

.neonTextGreen {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}
.smalNeonText {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 22px #f09;
}
.smalNeonTextGreen {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 22px #0fa;
}
.smalNeonTextBlue {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 22px rgb(13, 0, 255);
}




/* header */
#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    box-shadow: 
    0 0 1px #fff,
    0 0 1.5px #f09,
    0 0 50px #f09;
    background: #000;
    z-index: 100;
    transition: .3s;
}
#header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .nav li{
    margin-left: 2rem;
    position: relative;
}
#header .nav li a::after {
    content: '';
    position: absolute;
    bottom: -4px; left: 0;
    height: 2px; width: 0%;
    transition: .3s;
    background: #fff;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}
#header .nav li:hover .neonText {
    animation: flicker 1.5s infinite alternate;  
}
#header .nav li:hover a::after{
    width: 100%;
    transition: .3s;
    
}
#header .logo:hover .neonText{
    animation: flicker 1.5s infinite alternate; 
}
/* header scroll active */
#header.active {
    transition: .3s;
    box-shadow:
    0 0 4px #fff,
    0 0 20px rgb(13, 0, 255),
    0 0 50px rgb(13, 0, 255);
}
#header.active .neonText {
    transition: .3s;
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgb(13, 0, 255),
    0 0 80px rgb(13, 0, 255),
    0 0 90px rgb(13, 0, 255),
    0 0 100px rgb(13, 0, 255),
    0 0 150px rgb(13, 0, 255);
}
/* media 900 */
.toggle_btn {
    position: fixed;
    right: 2%;
    top: 4%;
    transform: translateY(-50%);
    z-index: 200;
    display: none;
    cursor: pointer;
}
.toggle_btn:hover {
    animation: flicker 1.5s infinite alternate;  
}
.toggle_bx {
    display: none;
}


/* home */
#home {
    height: 100vh;
    background: center / cover no-repeat url("./images/background3.png");
}
#home .home_box{
    position: absolute;
    top: 35%; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 4rem;
    animation: flicker 3s ease-in-out infinite alternate;
    width: 100%;
}
#home .home_box .home_title:nth-child(1) {
    font-size: 3rem;
}
#home .home_box .home_title:nth-child(3) {
    font-size: 3.5rem;
}
#home.active .home_box {
    transition: 3s;
    animation: flickerBlue 3s ease-in-out infinite alternate;
}

/* introduce */
#introduce {
    padding: 3% 0;
    position: relative;
    background: center / cover no-repeat url("./images/background.jpg");
}
#introduce .intr_box {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    padding-top: 10%;
    text-align: center;
}

#introduce .intr_box .intr {
    box-shadow:
    0 0 4px #fff,
    0 0 20px rgb(13, 0, 255),
    0 0 50px rgb(13, 0, 255);
    margin: 10% 0%;
    padding: 5% 3%;
    letter-spacing: 2px;
    line-height: 3rem;
    border-radius: 10px;
}

#introduce .intr_box .intr__title {
    font-size: 3rem;
    font-weight: bold;
}

/* portfolio */
#portfolio {
    margin: 10% 0;
}
#portfolio .portf_3d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10%;
}
.scene {
  width: 400px;
  height: 460px;
  perspective: 600px;
  margin: 3%;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;  
  text-align: center;
  font-size: 2em;
  line-height: 2.6rem;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card__face--front {
  background-color: rgb(3, 3, 3);
}

.card__face--back {
  transform: rotateY(180deg);
}
.card1 .card__face--front{
    
    background-image: linear-gradient(to right, #e9d842, #b20a2c);
}
.card1.is-flipped {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 22px #f09,
    0 0 42px #f09,
    0 0 61px #f09;
}
.card2 .card__face--front{
    background-image: linear-gradient(120deg, #b9f52f 0%, #0ee92b 100%);
}
.card2.is-flipped {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 22px #0fa,
    0 0 42px #0fa,
    0 0 61px #0fa;
}
.card3 .card__face--front{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}
.card3.is-flipped {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 22px rgb(13, 0, 255),
    0 0 42px rgb(13, 0, 255),
    0 0 61px rgb(13, 0, 255);
}
.front_text {
    margin: 10% 0;
    font-size: 1.5rem;
}
.click_btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.click_btn:hover {
    animation: flickerAll 3s ease-in-out infinite alternate;
    cursor: pointer;
}
.links {
    font-size: 1.3rem;
}

/* skill */
#skills {
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    padding: 2% 0;
}
#skills .web_skills {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}
#skills .web_skills .skill {
    display: flex;
    margin: 10% 0;
    font-size: 1.4rem;
}
#skills .web_skills .skill .skill_text {
    flex: 2;
}
#skills .web_skills .skill .skill_bx {
    flex: 1;
}
#skills .web_skills .skill .skill_bx img{
    width: 300px;
    margin: 0 auto;
}
#skills .web_skills .skill .skill_text .skill_text_bx{
    padding: 7% 0 7% 7%;
    line-height: 2.3rem;
}
.skill_js .skill_bx img{width: 170px !important;}
.skill_js .skill_text_bx {
    padding: 0 0 0 7%!important
}
.skill_js {
    text-shadow: 
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgb(229, 255, 0),
    0 0 80px rgb(229, 255, 0),
    0 0 90px rgb(229, 255, 0),
    0 0 100px rgb(229, 255, 0),
    0 0 150px rgb(229, 255, 0);
    box-shadow: 
    0 0 4px #fff,
    0 0 10px rgb(229, 255, 0);
    font-size: 1.2rem;
    background-color: #b5c327;
    background-image: linear-gradient(315deg, #b5c327 0%, #ffc907 74%);
    border-radius: 2rem;
    padding: 7%;
}
.skill_html {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgb(255, 94, 0),
    0 0 80px rgb(255, 94, 0),
    0 0 90px rgb(255, 94, 0),
    0 0 100px rgb(255, 94, 0),
    0 0 150px rgb(255, 94, 0);
    box-shadow: 
    0 0 4px #fff,
    0 0 10px rgb(255, 94, 0);
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
    border-radius: 2rem;
}
.skill_css {
    box-shadow: 
    0 0 4px #fff,
    0 0 10px rgba(110,123,251,1);
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    border-radius: 2rem;
}






/* footer */
#footer {
    background-image: url('./images/footerImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    object-fit: cover;
    border-top: 1px solid rgba(5, 2, 18, 0.879);
}
#footer .footer_box {
    display: flex;
    justify-content: space-between;
}
#footer .footer_box div{
    margin: 2%;
    width: 100%;
}
#footer .right {
    text-align: right;
    padding: 0% 2%;
}


/* animation */
/* normal */
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
    }
}
/* effact */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
/* effact 2 */
@keyframes flickerBlue {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(13, 0, 255),
        0 0 80px rgb(13, 0, 255),
        0 0 90px rgb(13, 0, 255),
        0 0 100px rgb(13, 0, 255),
        0 0 150px rgb(13, 0, 255);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
@keyframes flickerGreen {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
@keyframes flickerAll {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 94, 0),
        0 0 80px rgb(255, 94, 0),
        0 0 90px rgb(255, 94, 0),
        0 0 100px rgb(255, 94, 0),
        0 0 150px rgb(255, 94, 0);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}





@media screen and (max-width: 900px) {
    .toggle_btn {
        display: block;
    }
    #header {
        flex-direction: column;
        top: -100%;
        border-radius: 0 0 5px 5px;
    }
    #header.active_down {
        top: 0;
    }
    .nav {
        height: 80vh;
        flex-direction: column;
        padding: 10%;
    }
    h2 {
        display: none;
    }
    .toggle_bx {
        display: block;
    }
}